<?php

// set app/Mage.php file path
define("MAGE_PATH", "../app/Mage.php");

// klarna settings
define("KLARNA_ENV",    "production");
define("KLARNA_SECRET", "secret key");

// set shipping method code
define("SHIPPING_METHOD_CODE", "");

// set payment method
define("PAYMENT_METHOD_CODE", "klarnapayment");

// list of size code attributes (array) ex: size, size_shoe, size_clothes..
$sizeAttrNames = ['attr1', 'attr2'];
