<?php

// set app/Mage.php file path
$magePath = '../app/Mage.php';

// environment (production, test)
$klarna_env = 'production';

// prod credentials
$prod_klarna_secret = 'secret key';
// test credentials
$test_klarna_secret = 'secret key';

// set shipping method code
$shippingMethodCode = '';

// set payment method
$paymentMethodCode = 'klarnapayment';

// list of size code attributes (array) ex: size, size_shoe, size_clothes..
$sizeAttrNames = ['attr1', 'attr2'];
